.card{
    background-color: rgba(250, 254, 255, 0);
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    font-weight: bold;
    width: 330px;
    border-top: 1px solid rgba(128, 128, 128, 0.187);
}
p{
    font-size: 16px;
}

.data{
    color: #8e8e8ecf;
    font-size: 20px;
    font-weight: 145;
    margin:0px 15px;
    margin-top: ;
}

.desc{
    color: #c42727;
    
}