.title{
    color: rgba(0, 0, 0, 0.705);
    margin-bottom: 0px;
    margin-left: 22px;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.187);
    padding-bottom: 15px;
    width: 350px;
    padding-left: 35px;
}